$yellow: #FFE600;
$black: #333333;
$gray: #999999;
$white: #EEEEEE;
$gray-secondary:#666666;
$blue: #3483FA;

//Description Component
$price-label-font-size: 14px;
$image-descp-width: 680px;
$price-title-font-size: 24px;
$price-value-font-size: 49px;
$decription-title-font-size: 28px; 
$decription-text-font-size: 16px; 


$input-search-font-size-dktp: 18px;